.page-content {
  position: relative;
  box-sizing: border-box;
}
.page-nav {
  position: relative;
  box-sizing: border-box;                                                 
}
.page-side-nav {
  position: relative;
  box-sizing: border-box;
}
.page-nav_item {
  position: relative;
}
.page-sidebar {
  position: relative;
}
.page-header {
  position: relative;
}
.page-aside {
  position: relative;
}
.page-main {
  position: relative;
}
.page-footer {
  position: relative;
}